html {
        
    background-color: aqua;
       
}

     .content   {
        
        width: 50%;
        margin: auto;
        max-width: 1024px;    
        background-color: aqua;
        align-content: center;
        justify-content: center;
        
}

.header {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 3px blue solid;
    border-style: double;
    border-radius: 10px;
    justify-content: center;
}
.image {
    display: grid;
    margin: 10px;
    max-height: 300px;
    height: 300px;
    width: 225px;   
    justify-self: right;
    
}
.intro{
    display:inline;
}