html {
  background-color: aqua;
  font-size: 12px;
}

.intro {
  display: flex;
  width: 100%;
  justify-content: center;
}


.nav_ul {
  display: flex;
  padding: 0em;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
}
.nav_point {
  width: 8em;
  display: inline-block;
  border: 2px solid blueviolet;
  background-color: rgb(124, 162, 233);
  padding: 0.6em;
  border-radius: 2em;
  text-align: center;
}
.nav_point:hover {
  border: 2px solid rgb(195, 43, 226);
  background-color: rgb(160, 192, 252);
}

.content {
  width: 80%;
  margin: auto;
  max-width: 1024px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  border: 3px blue solid;
  border-style: double;
  border-radius: 10px;
  justify-content: center;
}
.image {
  margin: 10px;
  max-height: 30%;
  height: 30%;
  width: 22.5%;
}
